.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  max-width: 1200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLogo {
  height: 40px;
}
.nav-link {
  color: #fff !important;
}
/* Header */
header.masthead {
  position: relative;
  background-color: #f8f9fa;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h2 {
  color: #000;
}
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
/* Finish Header */

.jumbotro {
  background-color: #e9ecef;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom,rgba(37,53,139,1) 22%, rgba(108,77,235,1) 50%, rgba(175,212,255,1) 100%);
}

/* CSS */
.button-74 {
  background-color: rgb(83, 112, 227);
  border: 2px solid #f6f3f1;
  border-radius: 30px;
  box-shadow: #5a5a5a 4px 4px 0 0;
  color: #f2f0ec;
  cursor: pointer;
  display: inline-block;
  font-weight: 650;
  font-size: 14px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  top: 50%;
  left: 25%;
}

.button-74:hover {
  background-color: #4895dd;
}

.button-74:active {
  box-shadow: #dedcd8 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-75 {
  background-color: rgb(241, 37, 14);
  border: 2px solid #f6f3f1;
  border-radius: 30px;
  box-shadow: #5a5a5a 4px 4px 0 0;
  color: #f2f0ec;
  cursor: pointer;
  margin-right: 195px;
  margin-top: -15px;
  display: inline-block;
  font-weight: 650;
  font-size: 14px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  top: 50%;
  left: 25%;
}

.button-75:hover {
  background-color: rgb(238, 143, 124);
}

.button-75:active {
  box-shadow: #dedcd8 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-75 {
    min-width: 120px;
    padding: 0 25px;
  }
}
.login-link {
  color: #fff; /* Text color for the login link */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  text-decoration: none; /* Remove default underline */
}

.login-link:hover {
  color: #ccc; /* Adjust color on hover if needed */
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
  text-align: center;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  margin-bottom: 5px;
  color: #555;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.login-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-error-message {
  color: red;
  margin-top: 10px;
}




body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #333;
  color: white;
}

.movie-image {
  max-width: 250px; /* Adjust the size as needed */
  max-height: 250px; /* Adjust the size as needed */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 25px; /* Optional: Add border-radius for a rounded look */
  margin-top: 10px;
  margin-right: 10px;
}

.movie-details-container {
  max-width: 800px; /* Adjusted max-width for better readability */
  margin: 20px auto; /* Added some margin to the top */
  padding: 20px;
}

.dark-card {
  background-color: #444;
  color: white;
  margin-top: 20px;
  border-radius: 10px; /* Added border-radius for a softer look */
}

.dark-theme {
  background-color: #333;
}

.white-text {
  color: white;
}

.movie-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Movie Title */
.movie-title {
  color: white;
  font-size: 2em;
  margin-bottom: 10px;
}

/* Movie Card */
.movie-card {
  margin-top: 20px;
}

/* Movie Main Title */
.movie-main-title {
  font-size: 1.5em;
}

/* Movie Details - Genre, Year, Average Score */
.movie-details-details {
  margin-bottom: 20px;
}

/* Movie Comments */
.movie-details-comments {
  margin-bottom: 20px;
}

/* Blockchain Transaction Link */
.blockchain-link {
  display: inline-block; /* Changed from block to inline-block for better alignment */
  margin-top: 20px;
  text-decoration: none;
  color: #3498db;
  font-weight: bold;
  border-bottom: 2px solid #3498db; /* Added an underline with a border-bottom */
}

.blockchain-link:hover {
  text-decoration: none; /* Removed underline on hover */
}