.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  max-width: 1200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navLogo {
  height: 40px;
}
.nav-link {
  color: #fff !important;
}
/* Header */
header.masthead {
  position: relative;
  background-color: #f8f9fa;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead h2 {
  color: #000;
}
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
/* Finish Header */

.jumbotro {
  background-color: #e9ecef;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom,rgba(37,53,139,1) 22%, rgba(108,77,235,1) 50%, rgba(175,212,255,1) 100%);
}

/* CSS */
.button-74 {
  background-color: rgb(83, 112, 227);
  border: 2px solid #f6f3f1;
  border-radius: 30px;
  box-shadow: #5a5a5a 4px 4px 0 0;
  color: #f2f0ec;
  cursor: pointer;
  display: inline-block;
  font-weight: 650;
  font-size: 14px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: relative;
  top: 50%;
  left: 25%;
}

.button-74:hover {
  background-color: #4895dd;
}

.button-74:active {
  box-shadow: #dedcd8 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}